.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  color: var(--black);

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    margin-bottom: 2rem;

    padding: 2rem 1rem;
    width: 95vw;

    box-shadow: var(--box-shadow);

    gap: 1rem;
    text-align: center;

    background-color: var(--white);
    border-radius: 2rem;
    h1 {
      font-family: var(--brand-font);
    }
    p {
      font-family: var(--paragraph-font);
      margin-bottom: 2rem;
      line-height: 1.5rem;
    }

    a {
      font-family: var(--secondary-font);
      text-decoration: underline;
      font-size: 1.25rem;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 640px) {
  .container {
    flex-direction: row;
    padding: 0 1rem;

    .error {
      width: 50vw;
    }
  }
}

@media (min-width: 1040px) {
  .container {
    flex-direction: row;
    padding: 0 5rem;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.1rem;
    }

    a {
      font-size: 1.35rem;
    }

    .error {
      width: 30%;
    }
  }
}
