.container {
  border-radius: 1rem;
  width: 94%;
  box-shadow: var(--box-shadow);
  line-height: 0;
  overflow: hidden;
  // creates new stacking context to fix overflow on Safari
  isolation: isolate;

  img {
    height: 100%;
  }
}
