@mixin icon-styling {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transform: translateX(-32px);
  filter: drop-shadow(var(--text-shadow));
}

.logo {
  min-width: 43px;
}

.navbar {
  width: 100vw;
  border-top: 3px solid var(--primary-dark);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.25rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary);

  nav {
    max-width: 83rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.play-container {
  visibility: hidden;
}

.menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  left: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: url('../../../public/assets/brand/pattern_fish.webp'),
    linear-gradient(var(--primary-dark), rgb(29, 106, 136));
  background-blend-mode: soft-light;
  z-index: 2;
  transition: left 1s;
  border-left: 5px solid var(--white);
  border-top: 5px solid var(--white);
  border-radius: 2rem 0 0 0;
  color: var(--white);
}

.menu li,
.menu button {
  font-family: var(--brand-font);
  text-transform: uppercase;
  color: var(--white);
  font-size: 2.5rem;
  display: flex;
  transition: all 0.2s;
  text-align: center;

  &:hover {
    color: var(--yellow);
  }
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  transition: all 0.5s;
  transition-timing-function: var(--bounce);
  z-index: 2;
}

.menu-btn__burger {
  width: 30px;
  height: 4.5px;
  background: var(--white);
  border-radius: 5px;
  position: relative;
  transition: all 0.5s;
  transition-timing-function: var(--bounce);
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4.5px;
  background: var(--white);
  border-radius: 5px;

  transition: all 0.5s;
  transition-timing-function: var(--bounce);
}

.menu-btn__burger::before {
  transform: translateX(-15px) translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateX(-15px) translateY(10px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-75px);
  background: transparent;
  position: fixed;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(43px, -43px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(43px, 43px);
}

.active {
  left: 0rem;
}

@media (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .navbar {
    nav {
      max-width: 83rem;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      .menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        border: none;
        background: none;
        gap: 4rem;
        margin-left: 4rem;
        position: relative;
        z-index: 1;
        left: 0;
        border-radius: 0;
        margin-left: 4rem;

        .news::before {
          @include icon-styling;
          background-image: url('../../../public/assets/icons/bullhorn-solid.svg');
          width: 24px;
          height: 24px;
          content: '';
        }

        .sellbot::before {
          @include icon-styling;
          background-image: url('../../../public/assets/icons/gears-solid.svg');
          width: 24px;
          height: 19.2px;
          content: '';
        }

        .signup::before {
          @include icon-styling;
          background-image: url('../../../public/assets/icons/gamepad-solid.svg');
          width: 24px;
          height: 19.2px;
          content: '';
        }

        .help::before {
          @include icon-styling;
          background-image: url('../../../public/assets/icons/circle-question-solid.svg');
          width: 24px;
          height: 24px;
          content: '';
        }

        li,
        button {
          font-size: 0.9rem;
        }
      }

      .play-container {
        visibility: visible;
        display: flex;
        position: absolute;
        z-index: 1;
        right: 0;
        align-items: center;
        justify-content: center;

        .left {
          text-align: right;
        }

        .right {
          transition: all 0.5s;
          transition-timing-function: var(--bounce);
          transform: scale(0.8);
          margin-top: 3.75rem;

          &:hover {
            transform: rotate(6deg) scale(0.8);
          }
        }

        .paragraph {
          font-family: Arial, Roboto, sans-serif;
          font-size: 0.9rem;
          color: var(--white);
          line-height: 1.2rem;

          button {
            font-family: 'Anton', sans-serif;
            color: var(--white);
            font-size: 0.9rem;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    nav {
      .menu {
        gap: 4.5rem;
        li,
        button {
          font-size: 1.3rem;
        }
      }
      .play-container {
        .right {
          transform: scale(1);
          margin-top: 5.75rem;
          &:hover {
            transform: rotate(6deg) scale(1);
          }
        }
      }
    }
  }
}

.signin {
  background-color: var(--primary);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--black);
  font-family: ObjectifyM;
}
